@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using Harriers.Web.Models.Navigation

<div class="h-sidebar-nav">
    <h4>
        <img src="Content/images/logo-inverse.svg" style="margin-top:-6px;width:40px;height:40px" />
        Navigation
    </h4>
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
        @RenderChildItems(Model, 1)
    </ul>
</div>

@helper RenderChildItems(List<NavigationListItem> listItems, int level)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            if (item.HasChildren)
            {
                <li class="uk-parent">
                    <a href="#" class="uk-nav-header">@item.Link.Text</a>

                    <ul class="uk-nav-sub">
                        @foreach (var child in item.Items)
                        {
                            <li>
                                <a href="@child.Link.Url">@child.Link.Text</a>
                                @if (child.HasChildren)
                                {
                                    <ul class="uk-nav-sub">
                                        @foreach (var subChild in child.Items)
                                        {
                                        <li>
                                            <a href="@subChild.Link.Url">@subChild.Link.Text</a>
                                        </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
            else if (item.Link != null)
            {
                <li class="uk-nav-header">
                    <a href="@item.Link.Url">@item.Link.Text</a>
                </li>
            }
        }
    }
}