@inherits Umbraco.Web.Mvc.UmbracoViewPage<SocialMediaLinkViewModel>
@using Harriers.Web.Models.SiteConfiguration

@if (Model.Links != null && Model.Links.Any())
{
    if (Model.IncludeName)
    {
        foreach (var link in Model.Links)
        {
            <div class="uk-margin-small-bottom">
                <a class="uk-link-heading"
                   href="@link.Link">
                    <span uk-icon="icon: @link.ClassNames"></span> @link.Name
                </a>
            </div>
        }
    }
    else
    {
        <ul class="uk-iconnav h-social-icons">
            @foreach (var link in Model.Links)
            {
                <li>
                    <a href="@link.Link" uk-icon="icon: @link.ClassNames">
                        @if (Model.IncludeName)
                        {
                            <span>@link.Name</span>
                        }
                    </a>
                </li>
            }
        </ul>
    }
}
