@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using Harriers.Web.Models.Navigation
<div uk-navbar class="" style="margin-top:-1.5rem;margin-left:-1rem;">
    <ul class="uk-navbar-nav">

        @foreach (var item in Model)
        {
            <li>
                <a href="@item.Link.Url" target="@item.Link.Target">@item.Link.Text</a>
                @if (item.HasChildren)
                {
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            @foreach (var child in item.Items)
                            {
                                <li>
                                    <a href="@child.Link.Url">@child.Link.Text</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
        }
    </ul>
</div>