@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.WebsiteConfiguration>
@using Harriers.Web.Extensions

@Navbar("navbar", "/Content/images/logo-inverse.svg", "is-active is-shadowless")
@Navbar("navbar-clone", "/Content/images/logo.svg", "is-light")

<script>
    //Navbar Clone
    if ($('#navbar-clone').length) {
        $(window).scroll(function () {    // this will work when your window scrolled.
            var height = $(window).scrollTop();  //getting the scrolling height of window
            if (height > 90) {
                $("#navbar-clone").addClass('is-active');
            } else {
                $("#navbar-clone").removeClass('is-active');
            }
        });
    }

    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
            var $menu = $(".navbar-menu"),
                $burger = $(".navbar-burger");
            if ($burger.hasClass("is-active")) {
                $burger.removeClass("is-active");
                $menu.slideUp("fast").removeClass("is-active");
            } else {
                $burger.addClass("is-active");
                $menu.slideDown().addClass("is-active");
            }
        });
    });
</script>

@helper Navbar(string id, string brandLogoUrl, string navbarClasses)
{
    <nav id="@id" class="navbar @navbarClasses" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                @if (Model.BrandLogo.HasValue())
                {
                    var brandLink = Model.BrandLogo.FirstOrDefault();
                    <a class="navbar-item " href="@brandLink.Link.Url">
                        <img src="@brandLogoUrl" />&nbsp;
                        @brandLink.Link.Name
                    </a>
                }
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    @if (Model.LeftNav != null)
                    {
                        foreach (var item in Model.LeftNav)
                        {
                            if (item.Link != null)
                            {
                                <a class="navbar-item" href="@item.Link.Url">
                                    @if (item.ClassName.HasValue())
                                    {
                                        <span class="icon has-text-link">
                                            <i class="@item.ClassName"></i>
                                        </span>@:&nbsp;
                                    }
                                    @item.Link.Name
                                </a>
                            }
                        }
                    }
                </div>
                <div class="navbar-end">
                    @if (Model.RightNav != null)
                    {
                        foreach (var socialLink in Model.RightNav)
                        {
                            <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="@socialLink.Link.Url" target="@socialLink.Link.Target">
                                <span class="icon @socialLink.PrimaryClass">
                                    <i class="@socialLink.ClassName fa-lg"></i>
                                </span>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>
}
