@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using System.Linq
@using Umbraco.Web.PublishedModels
@using System.Web.Optimization

@{
    Layout = null;

    var navigation = Model as INavigationBase;
    var home = (Home)Model.Root();
    var appSettings = home.Children<WebsiteConfiguration>().FirstOrDefault();
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="@navigation.Description">

    <link rel="apple-touch-icon" sizes="180x180" href="/Content/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Content/favicon/site.webmanifest">
    <link rel="mask-icon" href="/Content/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.css">
    <title>@Model.Name</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    @Html.Partial("~/Views/Partials/Components/NavbarHome.cshtml", appSettings)

    <main>
        @Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", Model.NestedContent)
    </main>
    @Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", appSettings.NestedFooter)
</body>
</html>



