@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Linq
@using Umbraco.Web.PublishedModels
@using System.Web.Optimization

@{
	Layout = null;
	
	var navigation = Model as INavigationBase;
}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="@navigation.Description">
        <link rel="stylesheet" href="/css/main.css">
        
        @if (navigation.Keywords.Any()) {
            <meta name="keywords" content="@navigation.Keywords.Aggregate((a, b) => a + "," + b)">
        }
        
        <title>Chiltern Harriers : @navigation.Title</title>
        @Styles.Render("~/bundles/styles")
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("Head", false)
    </head>
    <body>
        <div>

            @RenderSection("Header", false)

            <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden=""></div>

            <main class="h-main-content">
                <div class="uk-section uk-section-default">
                    <div class="uk-container uk-position-relative">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
        <footer>
            @Html.Partial("SiteLayout/_Footer")
        </footer>
    </body>
</html>


