@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Linq
@using Umbraco.Web.PublishedModels
@using System.Web.Optimization

@{
    Layout = null;

    var navigation = Model as INavigationBase;
    var home = (Home)Model.Root();
    var appSettings = home.Children<WebsiteConfiguration>().FirstOrDefault();
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="@navigation.Description">
    <link rel="stylesheet" href="/css/main.css">
    <title>@Model.Name</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Head", false)
</head>
<body>
    @Html.Partial("~/Views/Partials/Components/Navbar.cshtml", appSettings)

    <main>
        @RenderBody()
    </main>
    @Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", appSettings.NestedFooter)
</body>
</html>


