@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Linq
@using Umbraco.Web.PublishedModels
@using System.Web.Optimization

@{
	Layout = null;
	
	var navigation = Model as INavigationBase;
}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="@navigation.Description">
        <link rel="stylesheet" href="/css/main.css">
        
        @if (navigation.Keywords.Any()) {
            <meta name="keywords" content="@navigation.Keywords.Aggregate((a, b) => a + "," + b)">
        }
        
        <title>Chiltern Harriers : @navigation.Title</title>
        @Styles.Render("~/bundles/styles")
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("Head", false)
    </head>
    <body>
        <div>

            @Html.Partial("SiteLayout/_Header")

            <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden=""></div>

            <main class="h-main-content">
                <div class="uk-section uk-section-default">
                    <div class="uk-container uk-position-relative">
                        <article class="uk-article">
                            <h1 class="uk-article-title">
                                Race Report 4 - 6 May: Warming up for Pednor at the MK, Southampton,
                                Vancouver and Skopje Marathons
                            </h1>
                            <p class="uk-article-meta">6/5/2019</p>
                            <p class="uk-text-lead">
                                It’s a pre-Pednor report today, folks. Looking forward to seeing a number of
                                you at the Tennis Club later for what will be a great event, as ever, I am sure. And once again
                                it’s been a successful weekend for Chiltern Harriers in road races.
                            </p>
                            <p>
                                However, we’ll start things off with Star Wars Day parkruns on May 4th. The Force was definitely
                                strong with Aran Davidson and Kate Loach, who came home in first place in Rickmansworth (Aran –
                                16.50) and Cassiobury Park (Kate – 21.04). Rebecca Lawson earned a course PB at Black Park
                                (26.15), as did Trevor Brawn at Rickmansworth (24.46). There were also all-time PBs for Tamsin
                                Finch and Abigail Chapman at Rickmansworth (24.39 and 27.53, respectively). Finally, there were
                                milestones-a-plenty: George Fotherby completed his parkrun debut at Northampton (22.00);
                                meanwhile joining the fifty club at Rickmansworth were Sarah and Brian Gregory (29.55 and
                                29.56), as well as Harriet Lemon, who also earned herself a new all-time PB of 25.10, thus
                                kicking off her 50thbirthday weekend in real style. Well done everyone!
                            </p>
                            <p>Also on Saturday, Fabian Downs was 4thmale in the Skopje Marathon in a time of 2.34.43.</p>
                            <p>
                                Moving on to Sunday, across the ocean in far-flung Vancouver, former Harrier Ash Holmes joined
                                the sub-three hour marathon crew, completing the BMO Vancouver Marathon in a cool 2.56.43.
                                Somewhat closer to home, Roger Ellerby ran the Southampton Marathon in 4.04.26 and Ian Lawson
                                took on ‘the tough one’ (aka the Three Forts Challenge, with 27 miles of mixed terrain and
                                climbs of 3450 feet), completing it in a sterling 4.41.49.
                            </p>
                            <p>
                                On the track in Bedford today Will Perkin finished 4thin the 800m final of the BUCS (British
                                Universities & Colleges Sport) Outdoor Athletics Championships.
                            </p>
                            <p>
                                And finally, the MK Marathon weekend. Tom Dixon made Race Report history today (in fact ‘real’
                                history) be becoming the first Harrier that I can remember to claim an actual world record. Tom
                                became the fastest ever half marathon runner, dressed as a children’s book character (Willy
                                Wonka), speeding round the course in 1.23.04. Joining Tom today in the half marathon was David
                                Holmes (2.00.41). In the marathon event, Ben Martin was the first Harrier home in 3.03.10. He
                                was joined by: Nicola Conner (6thV45 in 3.44.30); Rik Edwards (5thV60 in 3.52.11); Katherine Day
                                (4.01.16) and Rashila Waanninayake (4.09.51, following a 33.03 blast round the Rocket 5k
                                yesterday). Those results represent the outcome of some concerted effort in training by our
                                athletes. A huge congratulations to all.
                            </p>
                            <p>
                                And there’s not long left to book your tickets for the Club Awards Evening & Social on 18 May.
                                109 of you have already confirmed you’re coming, but we’d love to see more of you there. Please
                                do book your tickets sooner rather than later to allow final numbers to be confirmed to the
                                caterer. All the details are here.
                            </p>
                        </article>

                        @RenderBody()
                    </div>
                    
                </div>
                
            </main>

            @*<main class="h-main-content">
                @RenderBody()
            </main>*@
        </div>
    </body>
</html>


