@inherits Umbraco.Web.Mvc.UmbracoViewPage<CallToActionSection>
@using Umbraco.Web.PublishedModels
@using Harriers.Web.Extensions
    

@SectionHelper.RenderSectionStart(Model.BackgroundColour.Label, true)
<div class="column is-centered has-margin-auto has-spacing-bottom has-spacing-top">
    <div class="has-no-background is-two-thirds">
        @if (Model.Title.HasValue())
        {
            <h2 class="title is-size-3 is-size-1-tablet">@Model.Title</h2>
        }
        @if (Model.Content.HasValue())
        {
            <div class="subtitle is-size-5 is-size-4-tablet">@Model.Content</div>
        }
        @if (Model.Link != null)
        {
            @RazorHelper.RenderFaLink(Model.Link, classList: "button is-link is-medium")
        }
    </div>
</div>
@SectionHelper.RenderSectionEnd()


